
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

.carrito{
    background-color: rgba(255, 255, 0, 0.664);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.333);
}

.navbar-toggler{
    background-color: yellow;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.333);
}

.nav-item{
    margin: 5px;
}

.redes {
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    background-color: rgb(255, 193, 7);
}

.redes1 {
    margin-left: 30px;
    margin-right: 30px;
}

ul {
    padding-left: 0rem;
}

.logoml{
    height: 100px;
}

.card{
    margin: 10px;
    display: flex;
    align-items: center;
    width: 150px;
    text-decoration: none;
}

.cartas{
    margin: 5px;
    padding: 0px;
}

.card-img{
    width: 100px;
    height: 200px;
    margin: 10px;
    object-fit: contain;
}

.card-body{
    margin: 5px;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title{
    margin: 10px;
    font-size: 20px;
    text-overflow: ellipsis;

}

.container-card{
    display: flex;
    margin: 5px;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img-detail{
    width: 150px;
}

.desc-detail{
    font-size: 15px;
}

.title-detail{
    font-size: 25px;
}

.boton-detail-menos, .boton-detail-n, .boton-detail-mas{
    color: white;
    border-color: white;
    background-color: goldenrod;
    width: 50px;
}

.boton-detail{
    color: white;
    border-color: white;
    background-color: goldenrod;
    width: 150px;
}
